@import url('https://fonts.googleapis.com/css2?family=Alice&family=Bebas+Neue&family=Ribeye+Marrow&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.alice-regular {
    font-family: "Alice", serif;
    font-weight: 400;
}

.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* ... (Mantenha as outras classes de fontes, se houver) ... */

.cards {
    background-color: #ffffff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 70%;
    min-height: 15rem;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    margin-bottom: 1.3rem;
    padding: 0.5rem;
}

.card_profile img {
    width: 12rem;
    height: 12rem;
    background-color: #d9d9d9;
    border-radius: 50%;
    /* flex-shrink: 0; */
    margin: 0.8rem;
}

/* NOVO: Container para Nome, Descrição e Ícones */
.card_content {
    /* border: solid red 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 1rem;
}

.name_profile {
    margin-top: 1rem;
    width: 100%;
    height: 20%;
    font-family: "Alice", serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #333;
    margin: 0 0 0.2rem 0;
}

.section .cards .card_description{
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    color: #333;
    width: 100%;
    /* border: solid red 1px; */
}

.social_icons{
    width: 100%;
    display: flex;
    /* margin-top: 0.5rem; */
}

.social_icons a{
    text-decoration: none;
    color: rgb(38, 38, 38);
    font-size: 35px;
    margin:0.5rem;
    transition: 0.4s;
}
.social_icons a:hover{
    transition: 0.4s;
    color: #45568E;
    transform:scale(1.05);
}

@media (max-width: 768px) {
    .cards{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card_profile img{
        margin: 0.3rem;
        margin-top: 0.4rem;
    }
    .card_content{
        width: 100%;
    }
    .social_icons{
        justify-content: center;
    }
}