@import url('https://fonts.googleapis.com/css2?family=Alice&family=Bebas+Neue&family=Ribeye+Marrow&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Hero Section - MODIFICADO (MENOR) */
.hero {
    background: linear-gradient(rgba(44, 62, 80, 0.8), rgba(44, 62, 80, 0.8)), url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><rect width="100" height="100" fill="%234a6491"/><path d="M0 0L100 100" stroke="%232c3e50" stroke-width="2"/><path d="M100 0L0 100" stroke="%232c3e50" stroke-width="2"/></svg>');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-align: center;
     /* Reduzido o padding inferior */
    height: 130vh; /* Altura reduzida para 60% da viewport */
    display: flex;
    align-items: center;
    position: relative;
}

.hero-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    translate: 0 -200px;
}

.hero h1 {
    font-family: 'Ribeye Marrow', serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.hero h1 span {
    font-family: 'Alice', serif;
    font-weight: 400;
}
.hero p {
    font-family: 'Rubik', serif;
    font-weight: 400;
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 30px;
}

.btn {
    font-family: 'Bebas Neue', serif;
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    background-color: #ff6b6b;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff5252;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
