/* Seções de conteúdo com cards // texto */
        .section {
            padding: 20px 0;
        }
        
        .section-title {
            font-size: 40px;
            font-family: 'Alice', serif;
            font-weight: 500;
            text-align: center;
            margin-bottom: 40px;
            color: #45568E;
            position: relative;
        }
        
        .section-title:after {
            content: '';
            display: block;
            width: 60px;    
            height: 4px;
            background: #4a6491;
            margin: 15px auto;
        }
        
        .features {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 30px;
            margin-top: 40px;
        }
        
        .feature-card {
            font-family: 'Rubik', serif;
            font-weight: 400;
            font-size: 15px;
            text-align: justify;
            background: white;
            border-radius: 8px;
            padding: 25px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            transition: all 0.3s;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        
        .feature-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        }
        
        .feature-card h3 {
            font-family: 'Alice', serif;
            font-weight:500;
            color: #45568E;
            margin-bottom: 15px;    
            font-size: 1.5rem;
        }

