body {
    background-color: #E4E4E4;
    color: #0A0A0A;
    line-height: 1.6;
    font-family: 'Rubik', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.main-content {
    margin-top: 70px;
    z-index: 50;
    background: #e4e4e4;
}
.container p{
    text-align: justify; 
    width: 80%;
    margin: 0 auto;
}
.section .features p{
    text-align: justify;
    width: 95%;
}

/* Responsividade */
@media (max-width: 768px) {
    
    
    .features {
        grid-template-columns: 1fr;
    }
    
    .form-section {
        padding: 20px;
    }

    .container {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
    }
    .section{
        width: 98%;
    }
    .section p{
        text-align: justify; 
        width: 95%;
        margin: 0 auto;
    }
}

/* Pequenas animações para melhor experiência */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.feature-card {
    animation: fadeInUp 0.8s ease-out;
    animation-fill-mode: both;
}

.feature-card:nth-child(1) {
    animation-delay: 0.2s;
}

.feature-card:nth-child(2) {
    animation-delay: 0.4s;
}

.feature-card:nth-child(3) {
    animation-delay: 0.6s;
}